div.current {
  background: blue;
}
.margin{
  margin-left: 270px;
}
body{
  overflow: scroll;
}
.cool{
 text-align: center;
}

#socool{
  margin-bottom: 20px;
}
/* .top1{
  border: 0.7px solid gray;
}
.top2{
  border:1px solid black;
} */
